<a href="/fishtanks/<%= @fishtank.id %>/edit">Edit Fishtank</a>
<br><br>


<h2><%= @fishtank.name %></h2>
<h4>Gallons: <%= @fishtank.gallons %></h4>

<p>Fish:</p>

<% @fishtank.fishes.each do |fish| %>
  <ul>
    <li>
      <a href="/fish/<%= fish.id %>"><%= fish.species %></a>
    </li>
  </ul>
<% end %>
    
    
