<a class="btn btn-primary" href="/fishtanks/<%= @fishtank.id %>/edit" role="button">Edit Fishtank</a>


<br><br>


<h1><%= @fishtank.name %></h1>
<h3>Gallons: <%= @fishtank.gallons %></h3>

<h4>Fish:</h4>

<% @fishtank.fishes.each do |fish| %>
  <ul>
    <li>
      <h4><a href="/fish/<%= fish.id %>"><%= fish.species %></a></h4>
    </li>
  </ul>
<% end %>
    
    
